# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Delete testing artifacts linked to home directory
/artifacts/imperzer0_essentials_jar?.xml
